{
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "rules": {
    "no-caller": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-loop-func": "error",
    "no-return-await": "error",
    "no-throw-literal": "error",
    "no-negated-condition": "error",
    "no-unused-vars": "off",
    "no-alert": "error", //Disallow Use of  alert, confirm, and prompt
    "no-empty-function": "error", //Disallow empty functions
    "no-console": ["error", { "allow": ["warn", "error"] }],

    "max-depth": ["error", 4],
    "require-await": "warn",
    "curly": "error",

    // Switch setting
    "default-case-last": "error",
    "default-case": "error", //require `default` cases in `switch` statements

    // Use only === and !== from equal
    "eqeqeq": ["error", "always"],

    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/camelcase": "off",

    // Allow use required in ts
    "@typescript-eslint/no-var-requires": "off",
    // Main part of time we use auto generate return type
    "@typescript-eslint/explicit-module-boundary-types": "off",
    /* 
      Allow use type object and something like {}
      This type should use only in Generic.
    */
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "off",

    // React
    // React 17.0 allow not use inside component import React from 'react'.
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",

    "react/prop-types": "off", // In project we don't use PropType system.
    "react/display-name": "off",

    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    }
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
