//Typography

.regular34 {
  font-family: var(--font-regular);
  font-size: var(--font-size-34);
}

.regular24 {
  font-family: var(--font-regular);
  font-size: var(--font-size-24);
}

.medium20 {
  font-family: var(--font-medium);
  font-size: var(--font-size-20);
}

.regular16 {
  font-family: var(--font-regular);
  font-size: var(--font-size-16);
}

.medium16 {
  font-family: var(--font-medium);
  font-size: var(--font-size-16);
}

.regular14 {
  font-family: var(--font-regular);
  font-size: var(--font-size-14);
}

.medium14 {
  font-family: var(--font-medium);
  font-size: var(--font-size-14);
}
