:root {
  // Fonts
  --font-regular: 'Roboto Regular', sans-serif;
  --font-medium: 'Roboto Medium', sans-serif;

  // Font sizes
  --font-size-34: 34px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
}
